<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/wallets">My Wallets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/continents">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/currencies">Currencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/currencyDeposit">Bank Deposit</a>
        </li>

      </ul>
      <ul class="navbar-nav float-end">
        <li class="nav-item">
           <a class="nav-link" *ngIf="securityService.profile; else loginTemplate">
             <a>{{securityService.profile.firstName}}</a>
            </a>

          <ng-template #loginTemplate>
            <a class="btn nav-link" aria-current="page" (click)="login()">Login</a>
          </ng-template>
        </li>

        <li class="nav-item dropdown" *ngIf="securityService.profile">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" (click)="onLogout()" >Logout</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
